<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" id="name" th:field="*{name}" th:value="${book.getName()}">
    <div style="color: red" th:if="${#fields.hasAnyErrors()!=null}" th:errors="*{name}">Ошибка названия книги</div>
    <br/>
    <label for="author">Введите ФИО автора: </label>
    <input type="text" id="author" th:field="*{author}" th:value="${book.getAuthor()}">
    <div style="color: red" th:if="${#fields.hasAnyErrors()!=null}" th:errors="*{author}">Ошибка ФИО автора</div>
    <br/>
    <label for="year">Введите год издания: </label>
    <input type="text" id="year" th:field="*{year}" th:value="${book.getYear()}">
    <div style="color: red" th:if="${#fields.hasAnyErrors()!=null}" th:errors="*{year}">Ошибка с годом издания</div>

    <br/>
    <input type="submit" value="Редактировать книгу">
</form>
</body>
</html>